<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="index.js"></script>
<script src="me.js"></script>
<script src="day.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="cursed.css">
</head>
<body>

  <h1>Welcome to our amazing(ish) DurHack project!</h1>



  <div ng-app="myApp" ng-controller="myCtrl">
    <div id="login" ng-show="visibilities.login">
      <p>First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Welcome, {{firstName + " " + lastName}}
      </p>
      <button ng-click="mainMenu()">Go</button>
    </div>

    <div w3-test-directive></div>

    <div id="mainMenu" ng-show="visibilities.mainMenu" class="container-fluid">
      <div class="row">
        <div id="meButton" class="col big_button" style="background-color:olivedrab" ng-click="me()">Me</div>
        <div id="myDayButton" class="col big_button" style="background-color:mediumaquamarine" ng-click="myDay()">My Day
        </div>
        <div id="myPeopleButton" class="col big_button" style="background-color:dodgerblue" ng-click="myPeople()">My
          People</div>
        <div id="myMoneyButton" class="col big_button" style="background-color:slateblue" ng-click="myMoney()">My Money
        </div>
      </div>
    </div>

    <div id="me" ng-show="visibilities.me">
      <br>
      <div>
        <div class="container-fluid">
          <div class=row>
            <div class="col-9">
              <h2>My hobbies</h2>
            </div>
            <div class="col-3">
              <div class="less_big_button" onclick="swapHobbies();"
                style="align-self: flex-end; background-color: palevioletred;">Edit</div>
            </div>

          </div>
        </div>
        <div id="hobbies-txt">
          <p>yeet</p>
        </div>

        <div class="container-fluid">
          <div class=row>
            <div class="col-9">
              <h2>My favourites</h2>
            </div>
            <div class="col-3">
              <div class="less_big_button" onclick="swapFavourites();"
                style="align-self: flex-end; background-color: palevioletred;">Edit</div>
            </div>

          </div>
        </div>
        <div id="favourites-txt">
          <p>yeet</p>
        </div>
      </div>
    </div>

    <div id="myDay" ng-show="visibilities.myDay">
      day

      drink more water pls
      <div id="calendar"></div>
    </div>

    <div id="myPeople" ng-show="visibilities.myPeople">
      people
    </div>

    <div id="myMoney" ng-show="visibilities.myMoney">
      money
    </div>

  </div>

</body>

</html>
